/* ------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
----------------------------------------------------- GLOBALS -----------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------ */

* {
  box-sizing: border-box;
}

.container {
  display: flex;
}

/* ------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
----------------------------------------------------- HEADER -----------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------ */

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1280px;
  margin: auto;
  padding: 10px 0;
}

header img {
  width: 78px;
  height: 35px;
}

.header-button {
  display: flex;
  gap: 70px;
}

input {
  width: 630px;
  height: 40px;
  border: 1px solid #2cb1ba;
  border-radius: 5px;
  cursor: pointer;
}

.inscription-connexion {
  display: flex;
  gap: 20px;
}

.inscription-connexion button {
  background-color: #fff;
  color: #2cb1ba;
  height: 30px;
  width: 115px;
  border: 1px solid #2cb1ba;
  border-radius: 5px;
  font-size: 12px;
  outline: none;
  cursor: pointer;
}

.publish-article button {
  height: 30px;
  width: 115px;
  border: 1px solid #2cb1ba;
  border-radius: 5px;
  font-size: 12px;
  outline: none;
  color: #fff;
  background-color: #2cb1ba;
  cursor: pointer;
}
/* ------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
----------------------------------------------------- HOME -----------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------ */

main {
  display: flex;
  flex-wrap: wrap;
  margin: 40px 130px 40px 130px;
  gap: 10px;
}

article {
  margin-bottom: 70px;
}

.owner {
  display: flex;
  gap: 20px;
  padding: 10px;
}

.owner-avatar img {
  width: 25px;
  height: 25px;
  border-radius: 50px;
}

.image-article img {
  width: 235px;
  height: 360px;
  object-fit: cover;
}

.price-article {
  padding: 8px;
}

/* ------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
----------------------------------------------------- OFFER -----------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------ */

.wrapper {
  background-color: #eaedee;
  display: flex;
  justify-content: space-around;
  padding: 30px 190px 90px 190px;
}

.photo-article img {
  width: 395px;
  height: 600px;
  object-fit: cover;
}

.details-article {
  background-color: white;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 320px;
}

.details-article .price {
  margin-bottom: 40px;
}

.details-article .infos {
  line-height: 30px;
}

.details-article button {
  color: #fff;
  background: #09b1ba;
  border: solid 1px #09b1ba;
  border-radius: 4px;
  width: 100%;
  font-size: 16px;
  height: 36px;
  padding: 0 16px;
  line-height: 36px;
  margin-top: 32px;
  cursor: pointer;
}
