/* ------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
----------------------------------------------------- GLOBALS -----------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------ */

* {
  box-sizing: border-box;
}

.container {
  display: flex;
}

/* ------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
----------------------------------------------------- HEADER -----------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------ */

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1280px;
  margin: auto;
  padding: 10px 0;
}

header img {
  width: 78px;
  height: 35px;
}

.header-button {
  display: flex;
  gap: 70px;
}

input {
  width: 630px;
  height: 40px;
  border: 1px solid #2cb1ba;
  border-radius: 5px;
  cursor: pointer;
}

.inscription-connexion {
  display: flex;
  gap: 20px;
}

.inscription-connexion button {
  background-color: #fff;
  color: #2cb1ba;
  height: 30px;
  width: 115px;
  border: 1px solid #2cb1ba;
  border-radius: 5px;
  font-size: 12px;
  outline: none;
  cursor: pointer;
}

.publish-article button {
  height: 30px;
  width: 115px;
  border: 1px solid #2cb1ba;
  border-radius: 5px;
  font-size: 12px;
  outline: none;
  color: #fff;
  background-color: #2cb1ba;
  cursor: pointer;
}
